# PXC-5201: single wsrep node used to exercise the failover coordinator
# in a deterministic, single-member primary component.
!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld]
report-host=                127.0.0.1
report-user=                root

skip-replica-start
loose-innodb_write_io_threads= 2
loose-innodb_read_io_threads= 2

gtid-mode=on
enforce-gtid-consistency

[mysqld.1]
report-port=                @mysqld.1.port
binlog-format=row
early_plugin_load=keyring_file.so
keyring_file_data=@ENV.MYSQL_TMP_DIR/mysqld.1/keyring.1

wsrep_provider=@ENV.WSREP_PROVIDER
wsrep_cluster_address='gcomm://'
wsrep_provider_options='base_port=@mysqld.1.#galera_port;@ENV.WSREP_PROVIDER_TIMEOUTS'

wsrep_causal_reads=ON
wsrep_sync_wait = 15

wsrep_node_address=127.0.0.1
wsrep_sst_receive_address=127.0.0.1:@mysqld.1.#sst_port
wsrep_node_incoming_address=127.0.0.1:@mysqld.1.port

innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=2
wsrep_node_name=pxc_node1

[ENV]
SERVER_MYPORT_1=		@mysqld.1.port
SERVER_MYSOCK_1=		@mysqld.1.socket
